* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
    background-color: #eeebeb;
    color: #333745;
    line-height: 1.6;
}

/* HEADER */
.header {
    background-color: #333745;
    border: 1px solid #333745;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: white;
    padding: 15px;
}

.menu-link {
    text-decoration: none;
    color: #333745;
    font-weight: bold;
}

.menu-link:hover {
    color: #2563eb;
}

/* SEÇÕES */
.secao {
    padding: 60px 10%;
}

/* TÍTULOS */
.subtitulo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.8rem;
}

/* FOTO */
.foto {
    display: block;
    width: 170px;
    border-radius: 15%;
    margin: 20px auto;
}

/* TEXTO */
p {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

/* HABILIDADES */
.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.habilidade {
    background-color: #333745;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
}

th {
    background-color: #333745;
    color: white;
}

/* PROJETOS */
.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

/* BOTÃO */
.botao {
    display: inline-block;
    margin-top: 15px;
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* CONTATO */
.contato {
    background-color: #e2e8f0;
}

#formulario {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#formulario input,
#formulario textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

@media (max-width: 768px) {

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .secao {
        padding: 40px 5%;
    }
}

/* FOOTER */
footer {
    background-color: #333745;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
